:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: #f9f9f9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width:200px;
  margin:5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top:50px;
}

.box{
  background-color:white;
  width:50px;
  height:50px;
  color:black;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.box.mid{
  background-color:mediumseagreen !important;
}

.box.start{
  background-color:royalblue;
}

.box.end{
  background-color: #6388f5;
}

.box.within{
  background-color:royalblue;
}

.input{
  font-weight: bold;
  display: flex;
    justify-content: center;
}

input{
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2f2f2f;
  cursor: pointer;
  margin:5px;
}

input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#legend{
  display: flex;
  justify-content: center;
}
.legendBoxes{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:20px;
}

.legendBox{
  height:25px !important;
  width: 25px !important;
  margin-left: 10px;
  border-radius: 50%;
}

.inputButton{
  border-radius: 50%;
  width:50px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  background-color: #383838;
  height: 60px;
  border-radius: 30px;
  width: 220px;
}

.targetButtonDiv{
  width:200px;
  margin-bottom:5px;
}

.header{
  margin-bottom:30px;
}

.header > h2{
  font-weight: normal;
  margin-bottom:15px;
}

.code{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 35px;
  background-color: #383838;
  width: 250px;
  height:40px;

}

.header > h3 {
  font-weight: normal;
}

#inputStart{
  border-radius:50%;
  height:50px;
  width:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputNumber{
  width:135px;
  height:50px;
}

.targetButton{
  width: 90px;
  border-radius:30px;
}

.inputSubmit{
  display: flex;
  justify-content: center;
}

.inputBox{
  border-radius:30px;
  text-align: center;
  height:30px;
}

#inputArray{
  margin: auto;
  display: flex;
  justify-content: center;
  width:220px;
  height: 50px;
}

.label{
  width: 200px;
  text-align: left;
  margin: auto auto 10px;
  font-size: 18px;
}

.labelTarget{
  font-size: 18px;
  width: 180px;
  text-align: left;
  margin: auto auto 10px;
}

#inputBoxes{
  margin:10px;
}

.customInputArray{
  width:90px;
  height:50px;
  text-align: center;

}
.code-modal{
  background-color: #242424;
  border-color: #1a1a1a;
}

.language-javascript, .language-java, .language-python, .language-csharp, .language-cpp{
  background-color: #242424 !important;
  border: 0 !important;
}

.code > img:hover{
  cursor: pointer;
}

.modal {
  --bs-modal-border-radius: 30px;
}

.algorithm-list{

}

.algorithm{
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width:250px;
  height:40px;
  background-color: #383838;
  border-radius:25px;
  border: 1px solid transparent;
}

.algorithm:hover{
  cursor: pointer;
  border-color: #646cff;
}

#search-bar{
  margin-left:auto;
  text-align: center;
  height:40px;
  width:120px;
  border-radius: 30px;
}

.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  width: 250px;
}

.dropdown-toggle::after {
  display: none !important;
}

#dropdown-filters{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px;
  font-size:20px;
  background-color: #383838;
  border-radius: 30px;
  border-color: #383838;
}

#dropdown-filters:hover{
  cursor: pointer;
  border-color: #646cff;
}

#menu-filters{
  background-color: #242424;
  width:230px
}

.filter-item{
  color: #f9f9f9;
  border: 1px solid transparent;
  background-color: #383838;
  border-radius: 25px;
  width:200px;
  margin: 5px auto;
}

.filter-item:hover{
  border: 1px solid #646cff;
  color: #f9f9f9;
  background-color: #383838;
  border-radius: 25px;
}

#filter-item {
  background-color: #242424;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  color: #f9f9f9;
  border-radius:50%;
  margin-left:-30px;
}

#filter-item:focus-visible{
  outline: none;
  border:none;
}

.form-check-label{

  font-size: 16px;
}

.box.max{
  background-color:mediumseagreen;
}

.headerText{
  display:flex;
  justify-content: center;
  align-items: center;
}

.backIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-60px;
  margin-right: 10px;
  font-size:24px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #1a1a1a;
  width: 50px;
  height: 50px;
}

.backIcon:hover{
  border: 1px solid #646cff;
}

.algorithmTime{
  margin-left:auto;
  margin-right:10px;
  font-size:18px;
}

.algorithmIcon{
  font-size:18px;
  margin-right:auto;
  margin-left:10px;
}

#tooltip-top > .tooltip-inner{
  background-color: #242424;
}

#tooltip-top > .tooltip-arrow::before{
  border-top-color: #242424;
}